<div class="contents_wrapper">
  <article>
    <div class="main_container">
      <div class="img">
      <h1>怪談・奇談・都市伝説収集サイト</h1>
      </div>
    </div>
    <div class="flex">
      <div class="left">
      <h2>新着投稿一覧</h2>
        <% @posts.each do |post| %>
          <div class="content">
            <div class="title box">
            <%= link_to post.title, post_path(post.id) %>
            </div>
            <div class="news box">
            TELLER : <%= link_to post.user.name, user_path(post.user) %>
            </div>
            <div class="news box">
            カテゴリ : <%= link_to post.category.name, category_path(post.category) %>
            </div>
            <div class="news box">
            <p>記録日 : <%= post.created_at.strftime("%Y年%m月%d日") %></p>
            </div>
        </div>
        <% end %>
      </div>
      <div class="right">
      <h2>Category</h2>
      <a href="categories/1">怪談</a>
      <a href="categories/2">奇妙な話</a>
      <a href="categories/3">都市伝説</a>
      <a href="categories/4">実話体験談</a>
      <a href="categories/5">その他</a>
      </div>
    </div>
  </article>
</div>