<div class="contents_wrapper">
  <article>
    <div class="main_container">
      <div class="img">
      <h1>怪談・奇談・都市伝説収集サイト</h1>
      </div>
    </div>
    <div class="flex">
      <div class="left">
      <h2>New Stories</h2>
        <% @posts.each do |post| %>
          <div class="content">
            <div class="title box">
            <%= link_to post.title, post_path(post.id) %>
            </div>
            <div class="news box">
            <a href="#">TELLER : <%= post.user.name %></a>
            </div>
            <div class="news box">
            <a href="#">カテゴリ : <%= post.category.name %></a>
            </div>
            <div class="news box">
            <p>記録日 : <%= post.created_at.strftime("%Y年%m月%d日") %></p>
            </div>
        </div>
        <% end %>
      </div>
      <div class="right">
      <h2>Category</h2>
      <a href="#" >お知らせ</a>
      <a href="#">怪談</a>
      <a href="#">奇妙な話</a>
      <a href="#">都市伝説</a>
      <a href="#">実話体験談</a>
      <a href="#">その他</a>
      </div>
    </div>
  </article>
</div>