<div class="contents_wrapper bg">
  <div class="upper_container">
    <h1 class="title">
    <%= @post.title %>
    </h1>
    <div class="right_box">
      <p class="name">
       <%= link_to @post.user.name, user_path(@post.user) %>
      </p>
      <p class="date">
      <%= @post.created_at.strftime("%Y年%m月%d日 %H:%M") %>
      </p>
    </div>
  </div>
  <div class="text_box">
  <p><%= simple_format(@post.text) %></p>
  </div>
</div>