header {
  width: 100vw;
  height: 85px;
}

.menu_bar {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  font-size: 14px;
}

.menu_list {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  .form_area {
    height: 40px;
    width: 300px;
    padding: 0 10px;
    background-color: white;
    font-size: 14px;
    border: 1px solid black;
  }
}

.btn {
  align-items: center;
  padding: 10px;
  color: black;
  cursor: pointer;
}

.btn:hover {
  a{
  background-color: #fafafa;
  transition: 400ms;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  &__user_name{
    width: 100px;
    margin: 0 28px;
  }
  ul{
    display: flex;
    align-items: center;
    li{
      text-align: center;
      line-height: 20px;
      padding-left: 15px;
      height: 20px;
      width: 99px;
      a{
        color: black;
      }
    }
  }
}

input.search-input{
  background-color: ivory;
  border: 1px solid black;
  padding: 10px;
}

.search_btn {
  height: 40px;
  padding: 10px;
  border: 1px solid black;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}

.search_btn:hover {
  background-color: red;
  color: white;
  transition: 400ms;
}

//dropdwn

.dropdwn{
  max-width: 20%;
  display: flex;
}

ul{
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  color: black;
}
li{
  position: relative;
  padding: 5px;
  display: block;
  cursor: pointer;
}

.dropdwn>li{
  width: 1200px;
  margin: 1px;
  background: #fafafa;
  display: inline;
}

.dropdwn_menu{
  width: 100%;
  display: none;
  position: absolute;
  margin-left: -5px;
  margin-top: 5px;
  padding: 0;
  background: #fafafa;
}

.dropdwn_menu li{
  width: 100%;
}

.dropdwn_menu li a{
  padding: 5px 0;
  margin: -5px 5px -5px -5px;
  display: block;
  color: black;
}

li a:hover{
  background: #fafafa;
  color: red;
  border-bottom:2px solid red;
}