.upper_container {
  margin: 0 auto;
  width: 70%;
  display: flex;
  padding: 60px 0;
  justify-content: space-between;
  border-bottom: 2px dashed black;
  align-items: center;
  a{
    color: black;
  }
  a:hover {
    color: red;
    transition: 400ms;
  }
}

.text_box{
  margin: 0 auto;
  width: 70%;
  padding: 20px 0;
}

.index {
  margin: 0 auto;
  width: 70%;
  display: flex;
}

.postManage {
  a{
    color: black;
  }
  a:hover {
    color: red;
    transition: 400ms;
  }
}